<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/lato" type="text/css"/>
  <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/gidole-regular" type="text/css"/>
  <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/unique" type="text/css"/>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
  <!--navbar -->
  <div class="nav row">
  <div class="col-4">
    <a href="#">Gourmet au Catering</a></div>
    <!-- Right-sided navbar links. Hide them on small screens -->
    <div class="col-8 login-button">
      <a href="#">Login</a>
    </div>
  </div>
  <!--Header Banner section -->
<div class="container-fluid">
  <div class="banner-picture">
  </div>
  <br>
  <div class="main-section row">
    <div class="col-5 category">
    <h5>RESTAURANTS</h5>
    {% for restaurant in restaurants %}
    <br>
    <h6>{{restaurant.name}}</h4>
    {% endfor %}
  </div>
    <div class="col-7 latest-item">
    <h5>LATEST ITEM</h5>
  </div>
  </div>
  <div class="page-space"></div>
</div>
</body>
</html>
