{% extends "header.html" %}
{% block content %}
  <div><h2>{{restaurant.name}}</h2></div>
  <div class="func-btn">
    <p style="text-align:center"><a href="{{url_for('newMenuItem', restaurant_id = restaurant.id )}}" > Add New Menu Item </a></p>
    <p style="text-align:center"><a href="{{url_for('editRestaurant', restaurant_id = restaurant.id )}}"> Edit The Restaurant </a></p>
    <p style="text-align:center"><a href="{{url_for('deleteRestaurant', restaurant_id = restaurant.id )}}" > Delete This Restaurant </a></p>
  </div>
  <div class = 'flash' style="text-align:center">
  		      {% with messages = get_flashed_messages() %}
        {% if messages %}

          <ul>
          {% for message in messages %}
              <li> <strong> {{ message }} </strong> </li>
          {% endfor %}
          </ul>
          {% endif %}
      {% endwith %}

  </div>
<!--List all items in menu by category -->
  {% if items !=[] %}
  <div class="row" style="padding-top:3vw">
    <div class="col-6 col-sm-3 list">
      <img class ="img-responsive" src="https://image.ibb.co/nPrGkw/toa_heftiba_296435.jpg" alt="Sandwich" style="width:100%">
      <h3>Appertizer</h3>
      {% for i in items %}
        {% if i.course == 'Appetizer' %}
          <div class="menu-item">
            <h4>{{i.name}}</h4>
            <p>{{i.description}}</p>
            <p class="menu-price">{{i.price}}</p>
            <a href='{{url_for('editMenuItem', restaurant_id = restaurant.id, menu_id=i.id ) }}'>Edit</a>
            <a href='{{url_for('deleteMenuItem', restaurant_id = restaurant.id, menu_id=i.id ) }}'>Delete</a>
          </div>
        {% endif %}
      {% endfor %}
    </div>
    <div class="col-6 col-sm-3 list">
      <img class ="img-responsive" src="https://image.ibb.co/hPpxsb/gabriel_garcia_marengo_68299.jpg" alt="Steak" style="width:100%">
      <h3>Entree</h3>
      {% for i in items %}
        {% if i.course == 'Entree' %}
          <div class="menu-item">
            <h4>{{i.name}}</h4>
            <p>{{i.description}}</p>
            <p class="menu-price">{{i.price}}</p>
            <a href='{{url_for('editMenuItem', restaurant_id = restaurant.id, menu_id=i.id ) }}'>Edit</a>
            <a href='{{url_for('deleteMenuItem', restaurant_id = restaurant.id, menu_id=i.id ) }}'>Delete</a>
          </div>
        {% endif %}
      {% endfor %}
    </div>
    <div class="col-6 col-sm-3 list">
      <img class ="img-responsive" src="https://image.ibb.co/hoYCQw/rachel_park_366508.jpg" alt="Cherries" style="width:100%">
      <h3>Dessert</h3>
      {% for i in items %}
        {% if i.course == 'Dessert' %}
          <div class="menu-item">
            <h4>{{i.name}}</h4>
            <p>{{i.description}}</p>
            <p class="menu-price">{{i.price}}</p>
            <a href='{{url_for('editMenuItem', restaurant_id = restaurant.id, menu_id=i.id ) }}'>Edit</a>
            <a href='{{url_for('deleteMenuItem', restaurant_id = restaurant.id, menu_id=i.id ) }}'>Delete</a>
          </div>
        {% endif %}
      {% endfor %}
    </div>
    <div class="col-6 col-sm-3 list">
      <img class ="img-responsive" src="https://image.ibb.co/dyGfdG/roman_kraft_310183.jpg" alt="Pasta and Wine" style="width:100%">
      <h3>Beverrage</h3>
      {% for i in items %}
        {% if i.course == 'Beverrage' %}
          <div class="menu-item">
            <h4>{{i.name}}</h4>
            <p>{{i.description}}</p>
            <p class="menu-price">{{i.price}}</p>
            <a href='{{url_for('editMenuItem', restaurant_id = restaurant.id, menu_id=i.id ) }}'>Edit</a>
            <a href='{{url_for('deleteMenuItem', restaurant_id = restaurant.id, menu_id=i.id ) }}'>Delete</a>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
  {% endif %}
  <br>
  {% endblock %}
